[submodule "online-movie-ticket-booking-system-front-end-dashboard"]
	path = online-movie-ticket-booking-system-front-end-dashboard
	url = https://github.com/uni7mau/online-movie-ticket-booking-system-front-end-dashboard.git
[submodule "online-movie-ticket-booking-system-front-end-users"]
	path = online-movie-ticket-booking-system-front-end-users
	url = https://github.com/uni7mau/online-movie-ticket-booking-system-front-end-users.git
