
[submodule "omotickbs-frontend-user"]
	path = omotickbs-frontend-user
	url = https://github.com/uni7mau/online-movie-ticket-booking-system-frontend-user.git
[submodule "omotickbs-frontend-dashboard"]
	path = omotickbs-frontend-dashboard
	url = https://github.com/uni7mau/online-movie-ticket-booking-system-frontend-dashboard.git
